#home-btn {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

#writingArea, #previewArea {
  width: 420px;
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
#preview-img {
  width: 39vw;
  height: auto;
}
#previewArea {
  position: relative;
}
#content {
  position: absolute;
  top: 0%;
  left: 3%;
  font-family: Satisfy;
  white-space: pre-line;
}
